<ion-grid class="ion-no-padding" fixed="true">
	<ion-row class="padding-8px">
		<ion-col size="2" class="line-height-10px">
			<ion-icon class="filter ion-float-left font-size-large verticle-align-middle" name="options" color="primary"></ion-icon>
			<span class="font-size-smaller color-dark verticle-align-middle">
        Travel
        <span class="font-size-small"> Reply</span>
      </span>
		</ion-col>
		<ion-col align-self-center class="ion-text-center" size="8">
			<ion-text class="font-size-normal" color="dark">{{assetService.assets[assetIndex].VehicleNumber}}</ion-text>
		</ion-col>
		<ion-col align-self-center class="ion-text-end" size="2">
			<ion-icon name="ios-arrow-down" color="light" (click)="dismissModal()"></ion-icon>
		</ion-col>
	</ion-row>

	<ion-row class="bordered ion-text-center padding-8px">
		<ion-col align-self-center class="border-right" size="4">
			<ion-icon class="font-size-large" color="secondary" name="speedometer"></ion-icon>
			<ion-text class="custom-ion-text" color="dark">{{assetService.assets[assetIndex].LatestGPSInfo.Speed.toFixed(1)}} <span class="font-size-small">km/hr</span>
			</ion-text>
		</ion-col>
		<ion-col align-self-center class="border-right" size="4">
			<ion-icon class="font-size-large" color="secondary" src="./assets/baseline-local_gas_station-24px.svg">
			</ion-icon>
			<ion-text class="custom-ion-text" color="dark">{{assetService.assets[assetIndex].LatestGPSInfo.Fuel == null? '-': (assetService.assets[assetIndex].LatestGPSInfo.Fuel | number:'1.0-0') + ' Litre'}}</ion-text>
		</ion-col>
		<ion-col align-self-stretch size="4">
			<ion-icon class="verticle-align-middle engine-on font-size-normal color-white" name="power"
				*ngIf="assetService.assets[assetIndex].LatestGPSInfo.Ignition === '1'">
			</ion-icon>
			<ion-icon class="verticle-align-middle engine-off font-size-normal color-white" name="power"
				*ngIf="assetService.assets[assetIndex].LatestGPSInfo.Ignition === '0'">
			</ion-icon>
			<span class="verticle-align-middle color-dark padding-start">Engine</span>
		</ion-col>
	</ion-row>
  <ion-row class="ion-text-center padding-8px">
    <ion-col align-items-center>
      <ion-text class="font-size-small" color="dark">Last Received On</ion-text>
      <div>
        <ion-icon class="font-size-medium" name="timer" color="secondary"></ion-icon>
        <ion-text class="custom-ion-text font-size-normal" color="dark">{{date}}</ion-text>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>