<ion-content>
	<ion-list class="ion-no-padding">
		<ion-item lines="full" *ngFor="let asset of assetService.assets" [ngClass]="{'selected': asset.Selected, 'hidden': !asset.Visible}" (press)="asset.Selected = !asset.Selected; toggleSelectedAssets(asset.VehicleNumber)" (tap)="asset.Selected = !asset.Selected; assetService.multipleSelection ? toggleSelectedAssets(asset.VehicleNumber):trackAsset(asset.VehicleNumber);">
			<span class="speed-badge color-white">
        <div>
          <ion-icon class="font-size-medium padding-top-4px" name="speedometer"></ion-icon>
        </div>
        <div class="line-height-4px">
          <ion-text class="font-size-small ion-no-padding color-white">{{asset.LatestGPSInfo.Speed.toFixed(1)}}</ion-text>
        </div>  
        <ion-text class="font-size-smaller bold">km/hr</ion-text>
			</span>
			<span class="ion-padding-start">
        <div>
          <ion-text class="font-size-14px" color="primary">{{asset.VehicleNumber}}</ion-text>
        </div>
        <div>
					<span class="font-size-small display-inline-block">
            <ion-icon class="font-size-normal verticle-align-middle" color="secondary"src="./assets/baseline-local_gas_station-24px.svg"></ion-icon>
            <span class="verticle-align-middle color-dark padding-start">{{asset.LatestGPSInfo.Fuel == null? ' - ': getBalanceFuelPercent(asset.LatestGPSInfo.Fuel, asset.TankCapacity)}}</span>
          </span>
          <span class="font-size-small display-inline-block ion-padding-start">
            <ion-icon [ngClass]="asset.LatestGPSInfo.Ignition === '1'? 'engine-on': 'engine-off'" class="verticle-align-middle engine color-white"></ion-icon>
            <span class="verticle-align-middle color-dark padding-start">Engine</span>
          </span>
			  </div>
			</span>
      <span (click)="navigateTo('travel-replay')" class="padding-end travel-reply-badge">
        <div class="ion-text-center">
					<div class="line-height-0px">
						<ion-icon class="font-size-medium" name="open" color="primary"></ion-icon>
					</div>
					<ion-text class="font-size-small" color="dark">Travel Reply</ion-text>
				</div>
      </span>
		</ion-item>
	</ion-list>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!assetService.multipleSelection">
		<ion-fab-button (click)="navigateTo('add-asset')" color="secondary" translucent>
			<ion-icon name="add" class="color-white"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="assetService.multipleSelection"
		(click)="trackAssets()">
		<ion-fab-button color="secondary" translucent>
			<ion-icon name="eye" class="color-white"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="assetService.multipleSelection"
		(click)="stopTrackingAssets()">
		<ion-fab-button color="secondary" translucent>
			<ion-icon name="close" class="color-white"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>