.custom-bg { 
  height: 200px;
}
.rounded-corners {
  --border-radius: 50px;
}
ion-select {
  background: #FFFFFF;
  border-radius: 25px;
  padding-inline-end: 25px;
  color: var(--ion-color-primary);
}
.inline-items {
  ion-item {
    display: inline-block;
    width: 45%;
    --background: none;
    --background-activated: var(--ion-color-primary-tint);
    --background-hover: var(--ion-color-primary-shade);
    --color: #FFFFFF;
    --detail-icon-color: #FFFFFF;
    ion-datetime {
      --placeholder-color: #FFFFFF;
      height: 60px;
      white-space: normal;
      align-items: center;
    }
  }
  span {
    display: inline-block;
    width: 10%;
    position: relative;
    bottom: 25px;
    color: #FFFFFF;
    text-align: center;
  }
}
div.icon {
  text-align: center;
  position: relative;
  bottom: -17px;
  ion-icon {
    background-color: var(--ion-color-secondary);
    border-radius: 50%;
    font-size: 34px;
    color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px var(--ion-color-dark);
  }
}
div.asset-count {
  div {
    display: inline-block;
    width: 50%;
  }
  ion-icon.download {
    font-size: 24px;
    padding: 4px;
    border: 2px solid #FFFFFF;
    background-color: var(--ion-color-secondary);
    border-radius: 50%;
    color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px var(--ion-color-dark);
  }
}

.list {
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px var(--ion-color-light);
  div.inline-block {
    display: inline-block;
  }
  div.inline-block:first-child {
    width: 60%;
  }
  div.inline-block:last-child {
    width: 40%;
  }
}