<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button icon="arrow-back" text=""></ion-back-button>
		</ion-buttons>
		<ion-title>Contact us</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="custom-bg"></div>
	<form novalidate [formGroup]="contactUsForm">
		<div class="form">
			<ion-item lines="inset">
				<ion-label position="floating" color="dark">Full Name</ion-label>
				<ion-input formControlName="Username" readonly></ion-input>
			</ion-item>
			<ion-item lines="inset">
				<ion-label position="floating" color="dark">Email Address</ion-label>
				<ion-input formControlName="Email" readonly></ion-input>
			</ion-item>
			<ion-item lines="inset">
				<ion-label position="floating" color="dark">Mobile Number</ion-label>
				<ion-input formControlName="MobileNo" readonly></ion-input>
			</ion-item>
			<ion-item lines="inset">
				<ion-label position="floating" color="dark">Message</ion-label>
				<ion-textarea formControlName="Message"></ion-textarea>
			</ion-item>
		</div>
	</form>
	<ion-grid>
		<ion-row class="ion-padding" justify-content-center>
			<ion-col size="auto" class="ion-text-center ion-padding border-bottom">
				<ion-text color="primary" class="font-size-medium">GET IN TOUCH</ion-text>
			</ion-col>
		</ion-row>
		<ion-row justify-content-center>
			<ion-col size="9" (click)="call()">
				<ion-icon name="call" color="primary" class="font-size-large verticle-align-middle"></ion-icon>
				<ion-text color="primary" class="verticle-align-middle ion-padding-start">020 48604255</ion-text>
			</ion-col>
		</ion-row>
		<ion-row justify-content-center>
			<ion-col size="9" (click)="sendEmail()">
				<span>
        <ion-icon name="mail" color="primary" class="font-size-large verticle-align-middle"></ion-icon>
        <ion-text color="primary" class="verticle-align-middle ion-padding-start">support@bmhtechnologies.co</ion-text>
        </span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-grid class="ion-padding">
			<ion-row>
				<ion-col class="ion-no-padding">
					<ion-button expand="block" color="light" (click)="reset()">RESET</ion-button>
				</ion-col>
				<ion-col class="ion-no-padding">
					<ion-button disabled="{{!contactUsForm.valid}}" expand="block" color="primary" (click)="contact()">
						SUBMIT</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>