.login-logo {
  padding: 20px 0;
  min-height: 250px;
  text-align: center;
  line-height: 250px;
}
.list {
  margin-bottom: 0;
}
.login-logo img {
  max-width: 100%;
}
ion-footer {
  ion-toolbar {
    --background: var(--ion-color-light);
  }
}