.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
  img {
    position: relative;
    top: 25px;
  }
}
ion-header{
  ion-title {
    text-align: center;
  }
}
.list {
  margin-bottom: 0;
}
ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}
.login-logo img {
  max-width: 100%;
}
ion-icon {
  font-size: 12rem;
  color: var(--ion-color-primary)
}
ion-footer {
  ion-toolbar {
    --background: var(--ion-color-light);
  }
}