/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #184F80;
  --ion-color-primary-rgb: 24,79,128;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #154671;
  --ion-color-primary-tint: #2f618d;
  /** secondary **/
  --ion-color-secondary: #E87F17;
  --ion-color-secondary-rgb: 232,127,23;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #cc7014;
  --ion-color-secondary-tint: #ea8c2e;
  /** tertiary **/
  --ion-color-tertiary: #018637;
  --ion-color-tertiary-rgb: 1,134,55;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #017630;
  --ion-color-tertiary-tint: #1a924b;
  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  /** warning **/
  --ion-color-warning: #E87F17;
  --ion-color-warning-rgb: 232,127,23;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #cc7014;
  --ion-color-warning-tint: #ea8c2e;
  /** danger **/
  --ion-color-danger: #860101;
  --ion-color-danger-rgb: 134,1,1;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #760101;
  --ion-color-danger-tint: #921a1a;
  /** dark **/
  --ion-color-dark: #797979;
  --ion-color-dark-rgb: 121,121,121;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #6a6a6a;
  --ion-color-dark-tint: #868686;
  /** medium **/
  --ion-color-medium: #D2D2D2;
  --ion-color-medium-rgb: 210,210,210;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #b9b9b9;
  --ion-color-medium-tint: #d7d7d7;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9; }
