// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-toast {
  color: #FFF;
  text-align: center;
}

//menu
ion-header.menu {
  > div {
    height: 192px;
    background-image: url(../assets/icon/logo.png);
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--ion-color-light);
    background-position-y: 20px;
    div {
      position: absolute;
      bottom: 0;
      p, ion-label {
        padding-left: 20px;
        color: var(--ion-color-dark);
      }
      p {
        margin-top: 4px;
      }
    }
  }
}

ion-content.menu {
  ion-item {
    --background-hover: none;
    --background-activated: none;
    --color: var(--ion-color-dark);
    --color-activated: var(--ion-color-primary);
    --color-hover: var(--ion-color-primary);
    --color-focused: var(--ion-color-primary);
    --padding-end: 26px;
    --inner-padding-end: 0;
    --detail-icon-color: var(--ion-color-dark);
    --detail-icon-opacity: 1;
    --border-color: var(--ion-color-medium);
    ion-label {
      font-weight: 500;
    }
  }
  ion-list.sub-pages {
    margin-left: 60px;
    ion-menu-toggle:last-child ion-label{
      border-bottom: 1px solid var(--ion-color-medium)
    }
  }
}

ion-modal.vehicle-details-modal {
  --height: 168px;
  > div.modal-wrapper {
    position: absolute;
    bottom: 0;
    border-radius: 8px 8px 0 0;
    border-top: 8px solid var(--ion-color-primary);
  }
}

// custom css  --------------------------------------------
.font-size-extra-small {
  font-size: 8px;
}
.font-size-small {
  font-size: 12px !important;
}
.font-size-normal {
  font-size: 16px;
}
.font-size-medium {
  font-size: 20px;
}
.font-size-large {
  font-size: 24px;
}

.custom-ion-text {
  position: relative;
  top: -0.4rem;
  padding-left: 0.2rem;
  vertical-align: middle;
}

.padding-8px {
  padding: 8px;
}
.padding-bottom-0px {
  padding-bottom: 0px;
}
.padding-top-4px {
  padding-top: 4px;
}