.custom-bg {
  border-radius: 0 0 0 20%;
  height: 320px;
  position: relative;
  margin-bottom: 6px;
}
.inline-items {
  ion-item {
    display: inline-block;
  }
  ion-item:first-child {
    width: 74%;
  }
}